.user{
    margin-top: 110px;
    text-align: center;
}

.user p {
    font-size: 1.3rem;
}

.logout{
    margin-top: 3rem;
}

.linkAdd{
    display: block;
    color: white;
    background-color: #2F2F2F;
    width: fit-content;
    outline: none;
    font-size: 1.3rem;
    border-radius: 5px;
    text-transform: uppercase;
    box-shadow: none;
    text-align: center;
    margin: 0 auto;
    padding: 0.5rem;
}