/*************************************************
                    TOP MENU
**************************************************/

.TopNav{
    background-color: #fffcd5;
    border-bottom: 3px solid #2f2F2F;
    padding-left: 20px;
    position: fixed !important;
    display: flex !important;
    width: 100% !important;
    top: 0;
}

.navbar-collapse{
    padding-top: 10px;
    padding-left: 10px;
}

.dropdown-menu{
    width: 90%;
    margin: 0 auto;
}

.container{
    flex-direction: row-reverse;
    justify-content: space-evenly;
}

.logo-nav{
    transform: translateX(-110px);
}


.me-auto{
    margin: 0 auto !important;
}


/*************************************************
                    BOTTOM MENU 
**************************************************/

.bottomNavbar{
    background-color: #fffcd5;
    border-top: 3px solid #2f2F2F;
    justify-content: space-evenly !important;
}