.match img{
    width: 60px;
    height: auto;
    margin-right: 10px;
}

.match .card{
    width: 90%;
    margin: 0 auto;
    background-color: transparent;
    border: solid 2px #52A457;
}

.match .card-title{
    display: flex;
    align-items: center;
}


.dropdown-toggle{
    width: 150px;
}

.dd-menu{
    display: flex;
    justify-content: space-evenly;
    padding-top: 110px;
}