.logo-nav{
    width: 100px;
    height: auto;
}

.searchIcon{
    width:20px;
}

.lesArticles{
    margin-bottom: 8vh;
}

.bottomNavbar {
    max-height: 10vh; 
    justify-content: space-evenly !important;
}
.bottomNavbar .icon {
    max-height: 4vh;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
  

.show{
    width: 90vw;
}

.show form{
    flex-direction: row;
}

.navBar{
    max-height: 60vh;
    overflow-y: auto;
    position: fixed !important;
    display: flex !important;
    width: 100% !important;
    z-index: 999 !important;
    background-color: #fffcd5;
  }

  .lesArticles{
    padding-top: 110px;
  }