.logo-nav{
    width: 100px;
    height: auto;
}

.searchIcon{
    width:20px;
}

.articles{
    margin-bottom: 10vh;
}

.bottomNavbar {
    max-height: 10vh; 
    justify-content: space-evenly !important;
}
.bottomNavbar .icon {
    max-height: 4vh;
}

.navbar-toggler:focus{
    box-shadow: none !important;
}
  
.navBar{
    max-height: 60vh;
    overflow-y: auto;
  }