.logo{
    width: 100px;
    height: auto;
}

.searchIcon{
    width:20px;
}

.articles{
    margin-bottom: 10vh;
}

.bottomNavbar {
    max-height: 10vh; 
    justify-content: space-evenly !important;
}
.bottomNavbar .icon {
    max-height: 4vh;
}
  


.cardArticle{
    background-color: #fffcd5;
}
.card{
    background-color: #fffcd5 !important;
    border:none !important;
}