#wg-api-football-games{
    height: 100% !important;
    width: 100% !important;
    font-family: Poppins !important;
    font-size: 1.2rem;
    padding-top: 110px !important;
    z-index: 1000 !important;
}

#wg-api-football-games .wg_active{
    background-color: #52A457 !important;
}


.football-games-select{
    background-color: #fffcd5 !important;
}

.wg-dropbtn{
    background-color: #52A457 !important;
}

.wg-dropdown-color-select{
    background-color: #52A457 !important;
}

.wg_header{
    background-color: #52A457 !important;
    color: white !important;
}

.wg_info{
    background-color: #2F2F2F !important;
}
